target
wasm/target
.idea
wasm/tests/node_modules
resources/tests/bridgeref/*.sym
resources/tests/bridgeref/*.clvm.hex
resources/tests/gameref21/*.sym
resources/tests/gameref21/*.clvm.hex
resources/tests/gameref21/*.clvm.hex
resources/tests/game-referee/*.sym
resources/tests/game-referee/*.clvm.hex
__pycache__
.pytest_cache
main.sym
venv/
